#page-header {
    width: 100%;
    height: 30vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    overflow: hidden;
}
.cartBoxText {
    background: linear-gradient(to bottom, rgba(15, 18, 30, 0.7), rgba(15, 18, 30, 0.9));
    /* box-shadow: 0 0 50px 40px rgba(0, 0, 0, 0.8); */
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
#page-header .cartBoxText h2,
#page-header .cartBoxText p {
    color: #9afff8;
    letter-spacing: 1px;
}

#page-header h2 {
    font-size: 4rem;
}

#page-header p {
    font-size: 1.5rem;
}