# dependencies
/node_modules/
/Frontend/node_modules/


# production
/Frontend/build

# misc
/src/config/.env
/Frontend/.env.local
/Frontend/.env.development.local
/Frontend/.env.test.local
/Frontend/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
