
.LOGIN_BOX {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.Register_BOX {
  margin-top: -.5rem;
}
.Update_BOX {
  margin-top: -.7rem;
}
.video__Login {
  width: 50%;
  height: inherit;
}

.login {
  margin: 20px auto;
  padding: 40px 50px;
  width: 400px;
  border-radius: 10px;
  background: #ffffff00;
}
.register {
  padding: 10px 30px;
}
  .login input {
    width: 100%;
    display: block;
    box-sizing: border-box;
    margin: 10px 0;
    padding: 14px 12px;
    font-size: 16px;
    border-radius: 2px; 
  }

.login input[type=text],
.login input[type=email],
.login input[type=password] {
  border: 1px solid #c0c0c0;
  border-radius: 5px;
}

.login input[type=text]:hover {
  border-color: #8aeed8;
  outline: none;
  transition: all .2s ease-in-out;
} 

.login input[type=submit] {
  background: #EF5350;
  color: white;
  border: none;
  font-weight: bold;
  margin: 20px 0;
  background-color: #37a69b;
}
.login input[type=submit]:disabled {
  background-color: #1f1f27;
  color: #2e3542;
}
.login input[type=submit]:hover {
  background-color: white;
  color: black;
}
.avatar_div {
  margin-bottom: -1.5rem;
}


  .login h2 {
    margin: 20px 0 0; 
    color: #e4e4e4;
    font-size: 28px;
  }


.links {
  display: table;
  color: #676767;
  width: 100%;
  margin-bottom: 10px;
}

.links a {
  display: table-cell;
  padding-top: 10px;
}

.links a:first-child {
  text-align: left;
}

.links a:last-child {
  text-align: right;
}
.registerLink a:last-child {

  text-align: center;
  
}
  .login h2,
  .login p,
  .login a {
    text-align: center;    
  }

.login a {
  text-decoration: none;  
  font-size: .8em;
}

.login a:visited {
  color: inherit;
}

.login a:hover {
  text-decoration: underline;
}

.Update_BOX {
 /* background: #31524d; */
 padding: 25px;
 border-bottom-left-radius: 10%;
 border-top-right-radius: 10%;
 box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.Update_BOX:hover {
  border-bottom-left-radius: 0%;
  border-bottom-right-radius: 10%;
  border-top-right-radius: 0%;
  border-top-left-radius: 10%;
}

.newTitle {
  background:  linear-gradient(to right top, #293548, #306375, #449493, #80c39f, #d8eea7);;
}

.userSummary {
  width: 30%;
}
.userSideSummary {
  border-bottom: 1px solid rgba(128, 128, 128, 0.34);
  margin-bottom: 20px;
}
.summaryBox {
  /* border: 1px solid #5b77a2; */
  background-color: #1d1e2e;
  border-radius: 8px;
  padding: 20px;
}
.itemPerBasket {
  background-color: #181926;
  border-radius: 8px;
  width: 60%;
}
.imageName {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.custom-file-label {
  background-color: #1d1e2e00;
  color: whitesmoke;
}
.imageNameText {
  margin-left: 10px;
  color: white !important;
  text-decoration: none;
}
.cartxPriceText {
  background-color: #293548;
  padding: 5px 10px;
  margin-top: 5px;
  border-radius: 5px;
}
.itemPerBasketChild {
  /* background-color: rgba(15, 18, 30, 1); */
  align-items: center;
  border-radius: 5px;
}
#phone_field {
  border-radius: 6px;
}
.showMapBtnBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.showMapBtn {
  color: #676767;
  border-bottom: 1px solid #676767;
  margin: auto;
}
.mapSelector {
  width: 300px;
  height: 150px;
  margin: 0;
}
.autocomplete {
  max-height: 200px;
  overflow: auto;
}
.autocomplete-item {
  color: #e4e4e4;
  background-color: #1e2839;
  border-radius: 6px;
  margin: 3px;
  padding: 10px;
  font-size: 14px;
}
.autocomplete-item:hover {
  color: #cfcfcf;
  background-color: #293548;
  cursor: pointer;
}
.dividerWide {
  background-color: rgba(140, 140, 140, 0.19) !important;
}
.flutterBtnBox {
  width: 300px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flutterBtn {
  border-radius: 5px;
  padding: 10px 20px;
  width: 100%;
  background-color: #37a69b;
}
.flutterBtn:hover {
  background-color: #e4e4e4;
}
.securelyPay {
  color: #435169;
}

@media screen and (max-width: 768px) {

  .itemPerBasket {
    width: 100%;
  }
  .userSummary {
    width: 100%;
    margin-top: 20px;
  }
  .imageName {
    width: 100%;

  }
  .flutterBtnBox {
    width: 100%;
    padding: 40px;
  }
}