.section__p1 {
  padding: 40px 80px;
}

h6 {
  font-weight: bold;
  font-size: 12px;
}
.associatesSection {
  margin: 20px 0;
}
.associatesBox {
  margin: 3%;
  width: 40%;
  margin: auto;
  text-align: center;
}
.featureWtext {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
#feature  {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#feature .fe__box {
  width: 50px;
margin-right: 5px;
}
#feature .fe__box img {
  width: 100%;
  border-radius: 90px;
}
#feature .fe__box img:hover {
  border: 1px solid aliceblue;
  padding: 1px;
}
.humanveri {
  font-size: 60px;
  color: #e6f5ff;
  padding: 18px 0 0 2px;
}
.joinOurCom {
  font-size: 12px;
  color: #d8e3ff;
  padding: 10px 0 0 10px;
}

.popuBadge {
  width: fit-content;
  /* box-shadow: 0 0 20px 5px #0000005c; */
  border: 1px solid rgb(0, 149, 2);
  background-color: rgb(100, 255, 224);
  color: #000;
  margin: 0 10px;
}

/* Ratings */
.des .ratings {
  font-size: 1.2rem;
  color: #fdcc0d;
}

#no_of_reviews {
  font-size: 0.85rem;
  color: grey;
  margin-left: 0.5rem;
}

.rating-outer {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
  color: #fdcc0d;
  font-size: 14px;
}

.rating-outer::before {
  content: '\f006 \f006 \f006 \f006 \f006';
}

.rating-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.rating-inner::before {
  content: '\f005 \f005 \f005 \f005 \f005';
  color: #f8ce0b;
}
.search__component {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.view__product_search {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.view__product_1 {
  margin-left: -8rem;
}
.title_for_trending_and_search {
  position: absolute;
  left: -.5rem;
  top: 1rem;
 
}
.catergory_box {
  margin-left: -20px;
  margin-right: 15px;
}

.postbox {
  height: 100vh;
  overflow: hidden;
}
.gallery {
  height: 100%;
  margin-top: -100px;
  position: relative;
  background-color: rgb(15, 18, 30);

  @media (min-width 767px) {
    margin-top: 0;
  }
}
.gallery img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.headerTxt {
  position: absolute;
  height: 100%;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient( to bottom, rgba(15, 18, 30, 0.7), rgba(15, 18, 30, 1));
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  /* padding-bottom: 40px; */
}

.headerH1 {
  color: #ffffff;
  font-size: 50px;
  letter-spacing: 0.05em;
  background: linear-gradient(90deg, rgb(255, 180, 255), rgb(180, 255, 255), rgb(180, 255, 180));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.headerP {
  color: #7d8aaa;
}
.homeBtns {
  display: flex;
  flex-direction: row;
}
.homeCtaBtn {
  margin: 10px;
  padding: 5px 20px;
  border-radius: 90px;
  text-decoration: none;
}
.homeCtaBtn:hover {
  color: #000;
  background-color: white;
  text-decoration: none;
}
.shopBtn {
  color: #000;
  background-color: rgb(255, 180, 255);
}
.cookbookBtn {
  color: rgb(180, 255, 180);
  border: 1px solid rgb(180, 255, 180);
}


.scrollDown {
  color: #7d8aaa;
}
.mousebox {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100%;
  transform: translate(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#mouse-scroll .mouse {
  height: 21px;
  width: 14px;
  border-radius: 10px;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  border: 2px solid gray;
  top: 170px;
}

#mouse-scroll .mouse-in {
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: gray;
  position: relative;
  animation: animated-mouse 1.2s ease infinite;
  -webkit-animation: animated-mouse 1.2s ease infinite;
}

#mouse-scroll .down-arrow-1, #mouse-scroll .down-arrow-2, #mouse-scroll .down-arrow-3 {
  animation: mouse-scroll 1s infinite;
  -webkit-animation: mouse-scroll 1s infinite;
  -moz-animation: mouse-scroll 1s infinite;
}

#mouse-scroll .down-arrow-1 {
  margin-top: 6px;
}

#mouse-scroll .down-arrow-2 {
  animation-delay: .2s;
  animation-direction: alternate;
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
}

#mouse-scroll .down-arrow-3 {
  animation-delay: .3s;
  animation-direction: alternate;
  -webkit-animation-delay: .3s;
  -moz-animation-dekay: .3s;
  -webkit-animation-direction: alternate;
}

#mouse-scroll span {
  display: block;
  width: 5px;
  height: 5px;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-right: 2px solid gray;
  border-bottom: 2px solid gray;
  margin: 0 0 3px 5px;
}

@-webkit-keyframes animated-mouse {

  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}

@keyframes animated-mouse {

  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}

@-webkit-keyframes mouse-scroll {

  0% {
    opacity: 1;
  }

  50% {
    opacity: .5;
  }

  100% {
    opacity: 1;
  }
}

@keyframes mouse-scroll {

  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  .headerH1 {
    font-size: 30px;
  }
  .rating-outer {
    font-size: 10px;
  }
  .popuBadge {
    margin: 0 2px;
  }
  .associatesBox {
    padding: 5%;
    width: 100%;
  }
}